<h1>OneDriveRoom#download</h1>

<p><%= @user_name %>でログイン中</p>

<p><%= @file_name %>をダウンロードしました。</p>

<%= link_to '上へ戻る', action: :index, id: @parent %>&nbsp;|&nbsp;
<%= link_to 'トップへ戻る', action: :index, id: nil %>
